name: Linters

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  linters:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Shellcheck
        run: shellcheck action.sh
